<div [ngClass]="{ 'tab-group-container': selectedTabIndex === 0 }">
  <div class="tool-bar-row">

  <img class="badge-image" src="badge.png" />
    <mat-tab-group (selectedTabChange)="onTabChange($event)"       class="tool-bar-tabs"
    >
      <mat-tab class="tab-content"
        ><ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
        </ng-template>
        <div *ngIf="isPressedCreateEvent">
          <app-event-manager-create-event></app-event-manager-create-event>
        </div>
        <div *ngIf="isPressedEvents">
          <!-- <app-athlete-events></app-athlete-events> -->
        </div>

      </mat-tab>
      <mat-tab class="tab-content"
        ><ng-template mat-tab-label>
          <mat-icon>notifications</mat-icon>
        </ng-template>
       <app-event-manager-notifications [eventManagerData]="userData"></app-event-manager-notifications>
      </mat-tab>
      <mat-tab class="tab-content"
        ><ng-template mat-tab-label>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
        <!-- <app-event-manager-profile [eventManagerData]="userData"></app-event-manager-profile> -->
      </mat-tab>
    </mat-tab-group>
  </div>

  </div>
  <div *ngIf="selectedTabIndex === 0">
    <div
      class="example-container"
    >
      <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <h1 class="example-app-name">MSS</h1> -->
      </mat-toolbar>
  
      <mat-sidenav-container
        class="example-sidenav-container"
      >
        <mat-sidenav
          #snav
          fixedTopGap="56"
        >
          <mat-nav-list>
            <div class="button-row">
              <p>
                <button
                  class="sidenav-buttons"
                  mat-fab
                  extended
                  [ngClass]="{ 'shaded-button-facilities': isPressedCreateEvent }"
                  (click)="toggleButtonCreateEvent()"
                >
                  Create Event
                </button>
              </p>

              <p>
                <button
                  class="sidenav-buttons"
                  mat-fab
                  extended
                  [ngClass]="{ 'shaded-button-events': isPressedEvents }"
                  (click)="toggleButtonEvents()"
                >
                  Events
                </button>
              </p>
            </div>
          </mat-nav-list>
        </mat-sidenav>
      </mat-sidenav-container>
    </div>
  </div>

  