<div class="content">
  <mat-card class="card" appearance="outlined">
    <mat-card-header class="card-header-container">
      <mat-card-title class="card-header">Habiba Naser</mat-card-title>
      <img
        mat-card-sm-image
        src="https://img.freepik.com/free-photo/close-up-beautiful-woman-face-with-natural-makeup-relaxed-expression-standing-beige-backgr_1258-64561.jpg"
        alt="Round Image"
        class="right-image"
      />
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle class="info-title">Username:</span>
            <span matListItemLine class="info-line">habibanaser</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle class="info-title">Email:</span>
            <span class="info-line">{{ "habiba@gmail.com" }} </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="info-title">Phone:</span>
            <span class="info-line"> 01201055547</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="info-title">Birth Date:</span>
            <span class="info-line">8/4/2003</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="info-title">Location:</span>
            <span class="info-line"> Cairo, Egypt</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="info-title">Address:</span>
            <span class="info-line"> Cairo, Egypt</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>

    <mat-card-footer class="example-card-footer">
      <mat-card-actions align="end">
        <button mat-raised-button>Edit Profile</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
