<div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Search with name</mat-label>
      <input type="search" matInput [(ngModel)]="searchQuery" name="searchQuery">
    </mat-form-field>
    <button
      mat-fab
      extended
      color="primary"
      (click)="searchEvents()"
      class="search-button"
    >
      Search
    </button>
  </form>
<div *ngFor="let item of items">
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="card-header">Event {{item}} name</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>Event describtion</p>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set>
          <mat-chip class="custom-chip">
            <mat-icon class="sport-icon">sports_soccer</mat-icon>
            <span class="date-text">Sport Name</span>
          </mat-chip>
          <mat-chip class="custom-chip">
            <mat-icon class="date-icon">access_time</mat-icon>
            <span class="date-text">26/7/2024 : 28/7/2024</span>
          </mat-chip>
            <mat-chip class="custom-chip">
              <mat-icon class="location-icon">location_on</mat-icon>
              <span class="date-text">Cairo Stadium</span>
            </mat-chip>
            <mat-chip class="custom-chip">
                <mat-icon class="money-icon">attach_money</mat-icon>
                <span class="money-text">1000 </span> egp
              </mat-chip>
        </mat-chip-set>
  
        <mat-chip-set>
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
        <mat-card-actions align="end">
          <button mat-raised-button>Learn More</button>
          <button mat-raised-button>Add to Cart</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
    