<div class="notifications-container">
    <mat-card class="main-card">
      <mat-card-content>
        <mat-card class="notification-card">
          <mat-card-title>1-User Invitation</mat-card-title>
          <mat-card-content>
            A user is inviting you to a team.
            <div class="buttons-container">
              <button mat-raised-button color="primary">Accept</button>
              <button mat-raised-button color="warn">Decline</button>
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="notification-card">
          <mat-card-title>2-New Package Offer</mat-card-title>
          <mat-card-content>
            The facility called Ignite is offering a new package.
            <div class="buttons-container">
              <button mat-raised-button color="accent">See Package</button>
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="notification-card">
          <mat-card-title>3-Trainer's New Package</mat-card-title>
          <mat-card-content>
            A trainer has created a new package.
            <div class="buttons-container">
              <button mat-raised-button color="accent">See Package</button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  