.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  padding: 16px;
  box-sizing: border-box;
}
.form-container {
  display: flex;
  /* flex-direction: column; */
  gap: 16px; /* Space between form fields */
  margin-top: 20px;
}

.full-width-card {
  width: 100%; /* Make the card fill the width of the container */
  /* max-width: 600px; Optional: Set a max-width for better readability */
  display: flex;
  /* flex-direction: column;   */
}

.full-width-form-field mat-form-field + mat-form-field {
  /* margin-left: 8px; */
  height: 20vh;

  width: 100%;
  flex: 1; /* Make the form field fill the width of the card */
}

.card-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.example-chip-list {
  /* height: 20vh; */

  width: 100%;
  flex: 1;
}
.custom-button {
    font-size: 1.5rem; /* Increase button text size */
    padding: 16px 32px; /* Increase button padding */
  }
  
  .custom-label {
    font-size: 1.2rem; /* Increase label text size */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  font-style: normal;
  }
