<div [ngClass]="{ 'tab-group-container': selectedTabIndex === 0 }">
  <div class="tool-bar-row">
    <img class="badge-image" src="badge.png" />
    <mat-tab-group
      (selectedTabChange)="onTabChange($event)"
      class="tool-bar-tabs"
      
    >
      <mat-tab class="tab-content">
        <ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
        </ng-template>
      </mat-tab>
      <mat-tab class="tab-content">
        <ng-template mat-tab-label>
          <mat-icon>shopping_cart</mat-icon>
        </ng-template>
      </mat-tab>
      <mat-tab class="tab-content">
        <ng-template mat-tab-label>
          <mat-icon matBadge="{{ numberOfNotifications }}"
            >notifications</mat-icon
          >
        </ng-template>
      </mat-tab>
      <mat-tab class="tab-content">
        <ng-template mat-tab-label>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div *ngIf="selectedTabIndex === 0">
  <div
    class="example-container"
    [class.example-is-mobile]="mobileQuery.matches"
  >
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-sidenav-container
      class="example-sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
      <mat-sidenav
        #snav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
        class="side-nav"
      >
        <mat-nav-list class="button-row">
          <div class="button-row">
            <p>
              <button
                class="sidenav-buttons"
                mat-fab
                extended
                [ngClass]="{ 'shaded-button-facilities': isPressedFacilities }"
                (click)="toggleButtonFacilities()"
              >
                Facilities
              </button>
            </p>
            <p>
              <button
                class="sidenav-buttons"
                mat-fab
                extended
                [ngClass]="{ 'shaded-button-trainers': isPressedTrainers }"
                (click)="toggleButtonTrainers()"
              >
                Trainers
              </button>
            </p>
            <p>
              <button
                class="sidenav-buttons"
                mat-fab
                extended
                [ngClass]="{ 'shaded-button-events': isPressedEvents }"
                (click)="toggleButtonEvents()"
              >
                Events
              </button>
            </p>
            <p>
              <button
                class="sidenav-buttons"
                mat-fab
                extended
                [ngClass]="{ 'shaded-button-teams': isPressedTeams }"
                (click)="toggleButtonTeams()"
              >
                Teams
              </button>
            </p>
            <p>
              <button
                class="sidenav-buttons"
                mat-fab
                extended
                [ngClass]="{ 'shaded-button-bookings': isPressedBookings }"
                (click)="toggleButtonBookings()"
              >
                Bookings
              </button>
            </p>
            <p>
              <button class="sidenav-buttons" mat-fab extended>Payment</button>
            </p>
          </div>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
<div class="tab-content-container">
  <ng-container *ngIf="selectedTabIndex === 0">
    <div *ngIf="isPressedFacilities" class="home">
      <app-athlete-facilities [athleteData]="userData"></app-athlete-facilities>
    </div>
    <div *ngIf="isPressedBookings" class="home">
      <app-athlete-bookings [athleteData]="userData"></app-athlete-bookings>
    </div>
    <div *ngIf="isPressedEvents" class="home">
      <app-athlete-events [athleteData]="userData"></app-athlete-events>
    </div>
    <div *ngIf="isPressedTeams" class="home">
      <app-athlete-teams [athleteData]="userData"></app-athlete-teams>
    </div>
    <div *ngIf="isPressedTrainers" class="home">
      <app-athlete-trainers [athleteData]="userData"></app-athlete-trainers>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex === 1"> <app-athlete-cart [athleteData]="userData"></app-athlete-cart> </ng-container>
  <ng-container *ngIf="selectedTabIndex === 2"> <app-athlete-notifications [athleteData]="userData"></app-athlete-notifications> </ng-container>
  <ng-container *ngIf="selectedTabIndex === 3"> 
    <ng-container *ngIf="isEditProfilePressed">
      <app-athlete-edit-profile [athleteData]="userData"></app-athlete-edit-profile>
    </ng-container>
    <app-athlete-profile [athleteData]="userData"></app-athlete-profile> </ng-container>
</div>
