.badge-image {
  width: 140px; /* Adjust the size of the image as needed */
  height: 50px; /* Adjust the size of the image as needed */
  margin-right: 8px; /* Adjust the spacing between the image and header text */
  z-index: 10;
}

.tab-group-container {
  padding-left: 5%;
  /* Adjust the value as needed */
  /* display: flex; */
  .mat-tab-header {
    display: flex; /* Ensure tabs are laid out in a flex container */
  }
  flex-grow: 1;
}
.tool-bar-row {
  display: flex;
}
.tool-bar-tabs {
  display: flex;
  flex-grow: 1;
}
.tab-content {
  flex-grow: 1;
  /* padding: 50%; */
  overflow: visible;
  display: flex;
}
.home{
  padding-left: 10%;
flex-grow: 1;
}
.tab-content-container {
  height: 100%;
}

.button-row {
  display: list-item;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.3s ease;
  /* width: 100%; */
  flex-grow: 1;
}
.shaded-button-facilities {
  background-color: #aacae6; /* Darker shade */
}
.shaded-button-trainers {
  background-color: #aacae6; /* Darker shade */
}
.shaded-button-events {
  background-color: #aacae6; /* Darker shade */
}
.shaded-button-bookings {
  background-color: #aacae6; /* Darker shade */
}
.shaded-button-teams {
  background-color: #aacae6; /* Darker shade */
}
.example-toolbar {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 5%; */
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  width: 100%;
  display: flexbox;
  /* flex-direction: column; */
}
.sidenav-buttons {
  width: 28%;
  flex: 1;
  display: flexbox;
  flex-grow: 1;
  flex-shrink: 1;
}
